<div class="login">
     <div class="login_top">
          <img src="../../../assets/img/logos/Logo_login.png" alt="" class="login__img">
     </div>

     <form action="" class="login__form">

          <div class="login__form--top">
               <label for="" class="login__label">Login</label>
               <input type="text" class="login__input" placeholder="Digite seu e-mail">
               <p class="login__security-policy">Seus dados estarão protegidos segundo nossas <a href="" class="login__security-policy--link">Políticas de Segurança</a></p>
          </div>

          <div class="login__form-bottom">

               <div class="login__wrapper-elements">
                    <label for="" class="login__label">Senha</label>

                         <div class="login__insert-img-input">
                              <input type="text" class="login__input login__input--password" placeholder="Digite sua senha">
                              <span class="login__icon login__icon-password-toggle"></span>
                         </div>

               </div>

               <div class="login_wrapper-right-left-elemements">

                    <div class="login__form--bottom-left">
                         <input type="checkbox" class="login__input--keep-me-logged-in">
                         <p for="" class="login__label--keep-me-logged-in">Mantenha-me conectado</p>
                    </div>

                    <div class="login__form--bottom-right">
                         <a href="" class="login__forgot-password">Esqueci minha senha</a>
                    </div>
               </div>

          </div>


          <div class="login__buttons">
               <button class="login__button">Entrar</button>
               <button class="login__button--create-account">Criar uma conta</button>
          </div>

     </form>
</div>
