<header>
    <nav>
    </nav>
    <img src="/assets/img/logos/Logo_dash.png" alt="logo_dash">
    <div class="nav-menu">
        <ul id="nav-1">
            <li>
                <a>Áreas de trabalho</a>
                <ul>
                </ul>
            </li>
        </ul>
        <ul id="nav-2">
            <li><a>Recente</a>
                <ul>
                </ul>
            </li>
        </ul>
    </div>
    <a href="#" id="BcgGreen">Criar</a>
     <input type="text" name="search" id="InpGreen">
    <img src="/assets/img/icons/lupa.png" alt="lupa" id="lup">
    <img src="/assets/img/icons/Sino.png" alt="">
    <div class="user-perfil">
        <img src="/assets/img/Perfil.png" alt="">
        <p>Diego Gomes</p>
    </div>
    <div class="logout">
        <img src="/assets/img/icons/Sair.png" alt="sair">
        <p>Sair</p>
    </div>
</header>