<div class="card__container">
  <div class="card__ft-col">
    <p class="card-title">{{card.name}}</p>
    <div class="card-icons__row">
      <div class="card-icons__col">
        <span class="material-symbols-outlined">
          attach_file
        </span>
        <span>10</span>
      </div>
      <div class="card-icons__col">
        <span class="material-symbols-outlined">
          chat_bubble
        </span>
        <span>10</span>
      </div>
    </div>
  </div>
  <div class="card__sc-col">
    <div class="card-photo">
      <img src="" alt="">
    </div>
  </div>
</div>
