
<aside>
    <div class="workarea-profile">
        <img src="img/avatar.png" alt="avatar">
        <p>Área de trabalho de Diego Gomes</p>
    </div>
    <div class="squares">
        <div id="first-square">
            <p>Seus quadros</p>
        </div>
        <div id="square">Nome do quadro</div>
        <div id="square">Nome do quadro</div>
        <div id="square">Nome do quadro</div>
        <div id="square">Nome do quadro</div>
        <div id="square">Nome do quadro</div>
    </div>
</aside>